@import url('./common.css');

.search-form {
  background-color: #733aa8;
  padding: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 12px;
  position: sticky;
  top: 0;
}

.form-input {
  width: 360px;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}

.form-button {
  padding: 8px 16px;
  font-size: 18px;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  background-color: #fad7f6;
  color: var(--black);
}

.form-button:hover {
  background-color: rgb(239, 153, 229);
  /* color: var(--white); */
}
